{% load render_table from django_tables2 %}
{% load static %}
{% load stocks_template_tags %}
<!doctype html>
<html lang="en">
{% block head %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162313143-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162313143-1');
    </script>
    <script data-ad-client="ca-pub-6367544544740471" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!--Metadata-->
    <meta charset="utf-8">
    <meta name="description" content="Statistics for the T&T Stock Exchange.">
    <meta name="author" content="Rishi Latchmepersad">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Data from T&T's stock exchange.">
    <meta name="twitter:title" content="trinistats:Stock Exchange">
    <meta name="twitter:description" content="Tabular/graphical data about T&T's stock exchange.">
    <meta name="twitter:creator" content="Rishi Latchmepersad">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE">
    <!-- Open Graph data -->
    <meta property="og:title" content="trinistats:Stock Exchange" />
    <meta property="og:type" content="graph" />
    <meta property="og:url" content="http://www.trinistats.com/covid19" />
    <meta property="og:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE" />
    <meta property="og:description" content="Tabular/graphical data about T&T's stock exchange." />
    <meta property="og:site_name" content="trinistats:Stocks" />
    <!--End Metadata-->
    <title>{% block title %}trinistats | Stocks{% endblock title %}</title>
    <link rel="shortcut icon" href="{%  static 'stocks/favicon.ico' %}">
    <!--Font Awesome 4 icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--Font Awesome 5 Icons-->
    <script src="https://kit.fontawesome.com/dbb1ac5feb.js" crossorigin="anonymous"></script>
    <!--Ebay Ads-->
    <script async src="https://epnt.ebay.com/static/epn-smart-tools.js"></script>
    <!--CSS sheets-->
    <link rel="stylesheet" href="{% static 'stocks/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'stocks/styles.css' %}">
    <!--Error Messages -->
    {% if errors %}
    <script type="text/javascript">
            alert('{{ errors }}');
            window.stop();
    </script>
    {% endif %}
</head>
{% endblock head %}
<body>
    {% block navbartop %}
    <!-- Navbar -->
    <nav style="" class="navbar is-black" role="navigation" aria-label="main navigation" id="navbartop">
        <div class="navbar-brand">
            <img class="navbaricon" src="{%  static 'central/trinistats_logo.svg.png' %}">
            <a class="navbar-item" id="homelink" href="{% url "central:landingpage" %}">Home&nbsp
            <i class="fas fa-1x fa-home"></i></a>
            <a class="navbar-item" id="configbutton">Configure&nbsp
            <i class="fas fa-1x fa-cogs"></i></a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left_sidebar" id="navbar_burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
        <div class="navbar-menu" id="navbar_menu">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-weight-bold">Current</a>
                    <div class="navbar-dropdown has-background-black">
                        {% get_latest_date_dailytradingsummary as latest_date %}
                        <a class="navbar-item" id="dailytradingsummarylink" href="{% url "stocks:dailytradingsummary" %}?date={{latest_date}}&wastradedtoday=1&sort=-valuetraded">Daily Trading Summary</a>
                        <a class="navbar-item" id="listedstockslink" href="{% url "stocks:listedstocks" %}?table_0-sort=sector&table_1-sort=-num_listed">Listed Stocks</a>
                        <a class="navbar-item" id="technicalanalysislink" href="{% url "stocks:technicalanalysis" %}">Technical Analysis</a>
                    </div>
                </div>
                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link has-text-weight-bold">Historical</a>
                    <div class="navbar-dropdown has-background-black">
                        {% get_session_end_date_or_today as end_date%}
                        {% get_session_start_date_or_1_yr_back as start_date_1_yr%}
                        {% get_session_start_date_or_5_yr_back as start_date_5_yr%}
                        {% get_session_stockcode_or_default as stockcode%}
                        <a class="navbar-item" id="stockhistorylink" href='{% url "stocks:stockhistory" %}?stockcode={{stockcode}}&date__gte={{start_date_1_yr}}&date__lte={{end_date}}&charttype=candlestick&sort=date'>Stock History</a>
                        <a class="navbar-item" id="dividendhistorylink" href='{% url "stocks:dividendhistory" %}?stockcode={{stockcode}}&date__gte={{start_date_5_yr}}&date__lte={{end_date}}&sort=date'>Dividend History</a>
                        <a class="navbar-item" id="dividendyieldlink" href='{% url "stocks:dividendyieldhistory" %}?stockcode={{stockcode}}&date__gte={{start_date_5_yr}}&date__lte={{end_date}}&sort=date'>Dividend Yield</a>
                        <a class="navbar-item" id="markethistorylink" href='{% url "stocks:marketindexhistory" %}?indexname=Composite%20Totals&indexparameter=indexvalue&date__gte={{start_date_1_yr}}&date__lte={{end_date}}&sort=date'>Market Index History</a>
                        <a class="navbar-item" id="outstandingtradeslink" href='{% url "stocks:ostradeshistory" %}?stockcode={{stockcode}}&date__gte={{start_date_1_yr}}&date__lte={{end_date}}&osparameter=osoffervol&sort=date'>Outstanding Trades</a>
                    </div>
                </div>
                <a class="navbar-item" id="aboutlink" href='{% url "stocks:about" %}'>About</a>
            </div>
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
    {% endblock %}

    <nav class="panel is-pulled-left is-hidden" id="sidepanel">
        <p class="has-text-centered has-text-weight-bold">
            Configuration
        </p>
        <form method="get">
            {% block sidepanelcontents%}
            {% endblock sidepanelcontents%}
        </form>
        </div>
    </nav>
    <div class="clearfix"></div>

    <!-- Main content-->
    <div class="vertical-flex-container">
        {% block ebayads%}
        <div id="ebayadsdiv" class="topbannerdiv" style="">
            <ins class="epn-placement" data-config-id="5ee75b455da29225ccf11ed6"></ins>
            <div id="adlessdiv" class="horizontal-flex-container is-invisible">
                <p style="margin-top:1em; margin-left:0.2em;flex-grow:3;" id="adlesstext">
                    Looks like you're blocking ads on our site 😔
                    <br>Please consider whitelisting our site on your adblocker.
                    <br>We have minimal ads and you can easily help support this project through your regular Ebay purchases 😀
                    <br>Or if you prefer, you can donate directly through Paypal to support the creator to keep adding new content here ➔
                </p>
                <form style="flex-grow:1;align-self:center;" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_donations" />
                    <input type="hidden" name="business" value="CVJSJ47B4DVUC" />
                    <input type="hidden" name="item_name" value="Keeping the trinistats servers online! :)" />
                    <input type="hidden" name="currency_code" value="USD" />
                    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
                    <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                </form>
            </div>
        </div>
        {% endblock ebayads%}
        <div class="vertical-flex-container">
            {% block mainblock %}
            {% endblock mainblock %}
        </div>
        <br><br>
    </div>
    <!-- END MAIN -->
    
    <!--Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    {% block chartjs %}
    {% endblock chartjs %}
    <!--Base JavaScript for all templated pages-->
    <script>
    $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
        //trigger the red background for the config button
        $("#configbutton").click(function() {
            $("#sidepanel").toggleClass("is-hidden");
            $("#configbutton").toggleClass("has-background-red");
        });
        //display the guilt trip paragraph if adblock is enabled
        $(function(){
            setTimeout(function(){
                if ($('.epn-placement').height() == 0) {
                    $("#adlessdiv").toggleClass("is-invisible");
                    $("#adlessdiv").height('14rem');
                }
            },5000);
        });
        //trigger the red background for the active page
        {% block activepagetoggle %}
        {% endblock %}
        {% block changeconfigbutton %}
        $('#configbutton').on('click');
        $('configbutton').css('cursor', 'pointer'); // 'default' to revert
        {% endblock %}
    });
    </script>
    <!--Extra Javascript for certain pages only-->
    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}
</body>
</html>