{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}

    {% block sidepanelcontents %}
    <div class="panel-block">
        <label class="panellabel" for="stockcode">Stock:</label>
        <select id="stockcode" name="stockcode" class="custom-dropdown">
            <!--Add options based on dictionary items returned-->
            {% for listedstock in listedstocks %}
                {% if listedstock.stockcode == selectedstockcode %}
                    <option value="{{ listedstock.stockcode }}" selected>{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% else %}
                    <option value="{{ listedstock.stockcode }}">{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% endif %}
            {% endfor %}
        </select>
     </div>
    <div class="panel-block">
        <label class="panellabel" for="startdate">Start Date:</label>
        <input type="date" class="custom-date-selector" value="{{ enteredstartdate }}" id="startdate" name="date__gte">
    </div>
    <div class="panel-block">    
        <label class="panellabel" for="enddate">End Date:</label>
        <input type="date" class="custom-date-selector" value="{{ enteredenddate }}" id="enddate" name="date__lte"/>
    </div>
    <div class="panel-block">  
        <input type="hidden" value="date" name="sort"></input>
        <input type="submit" class="custom-red-button" onclick="location.href='{% url 'stocks:stockhistory' %}" value="Search"/>
    </div>
    {% endblock sidepanelcontents %}

    {% block mainblock %}
        <h2 style="" id="charttitle">Stock Price History</h2>
        <!-- Chart -->
        <div>
        <canvas id="stockchart" width="4" height="1">
            Stock Chart
        </canvas>
        </div>
        <br>
        <div class="buttons is-centered">
        <a class="button export-csv-button" id="exportcsvbutton" href="{% export_url "csv" %}">Export as CSV</a>
        </div>
        <div class="is-clearfix clearfix"></div>  
        <div class="tablediv">
            {% render_table table %}
        </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var ctx = document.getElementById('stockchart').getContext("2d");
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: graphlabels,
            datasets: graphdataset
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Stock Closing Quote ($)'
                    }
                }]
            }
        }
    });
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#stockhistorylink").toggleClass("has-background-danger");
    {% endblock %}