{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block ostradeshistorybutton %}
        <a class="w3-bar-item w3-button w3-theme-l2 w3-hover-white" href="{% url "ostradeshistory" %}">Outstanding Trades</a>
    {% endblock %}

    {% block navbarinsidetop %}
        <label for="equityid" class="">Stock:</label>
        <select id="equityid" name="equityid" class="w3-theme-l4 w3-select1">
            <!--Add options based on dictionary items returned-->
            {% for listedstock in listedstocks %}
                {% if listedstock.equityid == selectedequityid %}
                    <option value="{{ listedstock.equityid }}" selected>{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% else %}
                    <option value="{{ listedstock.equityid }}">{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% endif %}
            {% endfor %}
        </select>
        <label for="" class="">O/S Parameter:</label>
        <select id="osparameter" name="osparameter" class="w3-theme-l4 w3-select1">
            <option value="osoffervol" selected>O/S Offer Volume</option>
            <option value="osbid">O/S Bid Price($)</option>
            <option value="osbidvol">O/S Bid Volume</option>
            <option value="osoffer">O/S Offer Price($)</option>
        </select>
        <label for="startdate" class="">Start Date:</label>
        <input type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate" class="w3-theme-l4 w3-button2">
        <label for="enddate" class="">End Date:</label>
        <input type="date" value="{{ enteredenddate }}" id="enddate" name="enddate" class="w3-theme-l4 w3-button2"/>
        <input type="submit" onclick="location.href='{% url 'stockhistory' %}" value="Fetch Values" class="w3-theme-l4 w3-button3"/>
    {% endblock navbarinsidetop %}

    {% block maincontentdiv %}
        <h2 style="text-align:center" id="charttitle">Outstanding Trade History</h2>
        <!-- Chart -->
        <canvas id="stockchart" width="4" height="1">
            Stock Chart
        </canvas>
        {% render_table table %}
    {% endblock %}

    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var ctx = document.getElementById('stockchart').getContext("2d");
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: graphlabels,
            datasets: graphdataset
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '{{osparameterstr}}'
                    }
                }]
            }
        }
    });
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->