{% load render_table from django_tables2 %}
{% load static %}
{% load stocks_template_tags %}
<!doctype html>
<html lang="en">
{% block head %}
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162313143-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162313143-1');
    </script>
    <!--Metadata-->
    <meta charset="utf-8">
    <meta name="description" content="Statistics for the T&T stock exchange.">
    <meta name="author" content="Rishi Latchmepersad">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Data from T&T's stock exchange.">
    <meta name="twitter:title" content="Trinistats:Stock Exchange">
    <meta name="twitter:description" content="Tabular/graphical data about T&T's stock exchange.">
    <meta name="twitter:creator" content="Rishi Latchmepersad">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE">
    <!-- Open Graph data -->
    <meta property="og:title" content="Trinistats:Stock Exchange" />
    <meta property="og:type" content="graph" />
    <meta property="og:url" content="http://www.trinistats.com/covid19" />
    <meta property="og:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE" />
    <meta property="og:description" content="Tabular/graphical data about T&T's stock exchange." />
    <meta property="og:site_name" content="Trinistats:Stocks" />
    <!--End Metadata-->
    <title>{% block title %}trinistats | Stocks{% endblock title %}</title>
    <link rel="shortcut icon" href="{%  static 'stocks/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/dbb1ac5feb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'stocks/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'stocks/styles.css' %}">
    <!--Error Messages -->
    {% if errors != "" %}
    <script type="text/javascript">
            alert('{{ errors }}');
            window.stop();
    </script>
    {% endif %}
</head>
{% endblock head %}
<body>
    {% block navbartop %}
    <!-- Navbar -->
    <nav style="" class="navbar is-black" role="navigation" aria-label="main navigation" id="navbartop">
        <div class="navbar-brand">
            <img class="navbaricon" src="{%  static 'central/trinistats_logo.svg.png' %}">
            <a class="navbar-item" id="homelink" href="{% url "central:landingpage" %}">Home&nbsp
            <i class="fas fa-1x fa-home"></i></a>
            <a class="navbar-item" id="configbutton">Configure&nbsp
            <i class="fas fa-1x fa-cogs"></i></a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="left_sidebar" id="navbar_burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </div>
        <div class="navbar-menu" id="navbar_menu">
            <div class="navbar-start">
                {% get_latest_date_dailyequitysummary as latest_date %}
                <a class="navbar-item" id="dailysummarylink" href="{% url "stocks:dailyequitysummary" %}?date={{latest_date}}&wastradedtoday=1&sort=-valuetraded">Daily Summary</a>

                {% get_session_end_date_or_today as end_date%}
                {% get_session_start_date_or_1_yr_back as start_date%}
                {% get_session_stockcode_or_default as stockcode%}
                <a class="navbar-item" id="stockhistorylink" href='{% url "stocks:stockhistory" %}?stockcode={{stockcode}}&date__gte={{start_date}}&date__lte={{end_date}}&sort=date'>Stock History</a>
                <a class="navbar-item" id="dividendhistorylink" href='{% url "stocks:dividendhistory" %}?stockcode={{stockcode}}&date__gte={{start_date}}&date__lte={{end_date}}&sort=date'>Dividend History</a>
                <a class="navbar-item" id="dividendyieldlink" href='{% url "stocks:dividendyieldhistory" %}?stockcode={{stockcode}}&date__gte={{start_date}}&date__lte={{end_date}}&sort=date'>Dividend Yield</a>
                <a class="navbar-item" id="markethistorylink" href='{% url "stocks:marketindexhistory" %}?indexname=Composite%20Totals&indexparameter=indexvalue&date__gte={{start_date}}&date__lte={{end_date}}&sort=date'>Market Index History</a>
                <a class="navbar-item" id="outstandingtradeslink" href='{% url "stocks:ostradeshistory" %}?stockcode={{stockcode}}&date__gte={{start_date}}&date__lte={{end_date}}&osparameter=osoffervol&sort=date'>Outstanding Trades</a>
            </div>
            <div class="navbar-end">
            </div>
        </div>
    </nav>
    {% endblock %}

    <nav class="panel is-pulled-left is-hidden" id="sidepanel">
        <p class="panel-heading">
            Configuration
        </p>
        <form method="get">
            {% block sidepanelcontents%}
            {% endblock sidepanelcontents%}
        </form>
        </div>
    </nav>
    <div class="clearfix"></div>

    <!-- Main content-->
    {% block mainblock %}
    {% endblock mainblock %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js'></script>
    {% block chartjs %}
    <script>
    var ctx = document.getElementById('stockchart').getContext("2d");
    var jsdates = [];
    var pythondates = {{ graphdates|safe }};
    for (i=0; i<pythondates.length;i++){
        jsdates.push(pythondates[i]);
    }
    var closingquotes = JSON.parse('{{ graphclosingquotes|safe }}');
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: jsdates,
            datasets: [
                {
                    backgroundColor: 'rgb(255, 0, 0)',
                    data: closingquotes,
                    label: 'Closing Quote',
                }
            ]
        },
        options: {
        }
    });
    </script>
    {% endblock chartjs %}
    <!--Base JavaScript for all templated pages-->
    <script>
    $(document).ready(function() {
        // Check for click events on the navbar burger icon
        $(".navbar-burger").click(function() {
            // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
            $(".navbar-burger").toggleClass("is-active");
            $(".navbar-menu").toggleClass("is-active");
        });
        $("#configbutton").click(function() {
            $("#sidepanel").toggleClass("is-hidden");
            $("#configbutton").toggleClass("has-background-red");
        });
        {% block activepagetoggle %}
        {% endblock %}
    });
    </script>
    <!--Extra Javascript for certain pages only-->
    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}
</body>
</html>