{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block description %}"Data on outstanding trade orders on the Trinidad and Tobago Stock Exchange (TTSE),
    displayed in a line chart and table."
    {% endblock description %}

    {% block title %}trinistats | Stocks | Outstanding Trades Data for the Trinidad and Tobago Stock Exchange (TTSE)
    {% endblock title %}

    {% block sidepanelcontents %}
    <div class="panel-block">
        <label class="panellabel" for="stockcode">Stock:</label>
        <select class="custom-date-selector" id="stockcode" name="stockcode">
            <!--Add options based on dictionary items returned-->
            {% for listedstock in listedstocks %}
                {% if listedstock.stockcode == selectedstockcode %}
                    <option value="{{ listedstock.stockcode }}" selected>{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% else %}
                    <option value="{{ listedstock.stockcode }}">{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="panel-block">
        <label class="panellabel" for="">O/S Parameter:</label>
        <select class="custom-date-selector" id="osparameter" name="osparameter">
            <option value="osoffervol" selected>O/S Offer Volume</option>
            <option value="osbid">O/S Bid Price($)</option>
            <option value="osbidvol">O/S Bid Volume</option>
            <option value="osoffer">O/S Offer Price($)</option>
        </select>
    </div>
    <div class="panel-block">
        <label class="panellabel" for="startdate">Start Date:</label>
        <input class="custom-date-selector" type="date" value="{{ enteredstartdate }}" id="startdate" name="date__gte" >
    </div>
    <div class="panel-block">    
        <label class="panellabel" for="enddate">End Date:</label>
        <input class="custom-date-selector" type="date" value="{{ enteredenddate }}" id="enddate" name="date__lte"/>
    </div>
    <div class="panel-block">
        <input type="hidden" value="date" name="sort"></input>    
        <input name="configure_button" class="custom-red-button" type="submit" onclick="location.href='{% url 'stocks:ostradeshistory' %}" value="Search"/>
    </div>
    {% endblock sidepanelcontents %}

    {% block mainblock %}
        <h1 style="text-align:center" id="charttitle">Outstanding Trade History for {{selectedstockname}} ({{selectedstocksymbol}})</h1>
        <!-- Chart -->
        <div id="chartdiv" class="chart-div" style="">
        </div>
         <br>
        <div class="tablediv">
        {% render_table table %}
        </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var trace1 = {
        x: graphlabels,
        y: graphdataset,
        type: 'scatter'
    };
    var data = [trace1];
    var layout = {
    xaxis: {
        title: 'Date',
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: 'auto',
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    },
    yaxis: {
        title: '{{os_parameter_string|safe}}',
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: 45,
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    }
    };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#outstandingtradeslink").toggleClass("has-background-red");
    $("#osparameter").val("{{ osparameter|safe }}").change();
    {% endblock %}