{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block sidepanelcontents %}
    <div class="panel-block">
        <label class="panellabel" for="equityid">Stock:</label>
        <select class="custom-date-selector" id="equityid" name="equityid">
            <!--Add options based on dictionary items returned-->
            {% for listedstock in listedstocks %}
                {% if listedstock.equityid == selectedequityid %}
                    <option value="{{ listedstock.equityid }}" selected>{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% else %}
                    <option value="{{ listedstock.equityid }}">{{listedstock.symbol}} ({{ listedstock.securityname }})</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <div class="panel-block">
        <label class="panellabel" for="">O/S Parameter:</label>
        <select class="custom-date-selector" id="osparameter" name="osparameter">
            <option value="osoffervol" selected>O/S Offer Volume</option>
            <option value="osbid">O/S Bid Price($)</option>
            <option value="osbidvol">O/S Bid Volume</option>
            <option value="osoffer">O/S Offer Price($)</option>
        </select>
    </div>
    <div class="panel-block">
        <label class="panellabel" for="startdate">Start Date:</label>
        <input class="custom-date-selector" type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate" >
    </div>
    <div class="panel-block">    
        <label class="panellabel" for="enddate">End Date:</label>
        <input class="custom-date-selector" type="date" value="{{ enteredenddate }}" id="enddate" name="enddate"/>
    </div>
    <div class="panel-block">    
        <input class="custom-red-button" type="submit" onclick="location.href='{% url 'ostradeshistory' %}" value="Search"/>
    </div>
    {% endblock sidepanelcontents %}

    {% block mainblock %}
        <h2 style="text-align:center" id="charttitle">Outstanding Trade History</h2>
        <!-- Chart -->
        <div>
        <canvas id="stockchart" width="4" height="1">
            Stock Chart
        </canvas>
        </div>
         <br>
        <div class="tablediv">
        {% render_table table %}
        </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var ctx = document.getElementById('stockchart').getContext("2d");
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: graphlabels,
            datasets: graphdataset
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: '{{osparameterstr}}'
                    }
                }]
            }
        }
    });
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#outstandingtradeslink").toggleClass("has-background-danger");
    {% endblock %}