{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}

{% block description %}"Historical stock price data for all stocks listed on the Trinidad and Tobago Stock Exchange (TTSE),
displayed in a line/candlestick chart and table."
{% endblock description %}

{% block title %}trinistats | Stocks | Historical Stock Data for the Trinidad and Tobago Stock Exchange (TTSE)
{% endblock title %}

{% block customizationbar %}

    <div class="column">
        <label class="" for="symbol">Stock:</label>
        <select id="symbol" name="symbol" class="custom-dropdown">
            <!--Add options based on dictionary items returned-->
            {% for listed_stock in listed_stocks %}
                {% if listed_stock.symbol == selected_symbol %}
                <option value="{{ listed_stock.symbol }}" selected>{{listed_stock.symbol}} ({{ listed_stock.security_name }})
                </option>
                {% else %}
                <option value="{{ listed_stock.symbol }}">{{listed_stock.symbol}} ({{ listed_stock.security_name }})</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="column">
       <label class="" for="startdate">Start Date:</label>
        <input type="date" class="custom-date-selector" value="{{ entered_start_date }}" id="startdate" name="date__gte">
    </div>

    <div class="column">
        <label class="" for="enddate">End Date:</label>
        <input type="date" class="custom-date-selector" value="{{ entered_end_date }}" id="enddate" name="date__lte" />
    </div>

    <div class="column">
        <label class="" for="chart_type">Chart Type:</label>
        <select id="chart_type" name="chart_type" class="custom-dropdown">
            <option value="line">Line</option>
            <option value="candlestick">Candlestick</option>
        </select>
    </div>

    <div class="column">
        <input type="hidden" value="date" name="sort"></input>
        <input type="submit" name="configure_button" class="custom-red-button"
        onclick="location.href='{% url 'stocks:stockhistory' %}" value="Search"></input>
    </div>

{% endblock customizationbar %}

{% block mainblock %}
<h1 style="" id="charttitle">Stock Price History for {{selected_stock_name}} ({{selected_stock_symbol}})</h1>
<!-- Chart -->
<br>
<div id="chartdiv" class="chart-div" style="">
</div>
<br>
<div class="buttons is-centered">
    <a class="button export-csv-button" id="exportcsvbutton" href="{% export_url "csv" %}">Export as CSV</a>
</div>
<div class="is-clearfix clearfix"></div>
<div class="tablediv_noscroll">
    {% render_table table %}
</div>
{% endblock mainblock %}

{% block chartjs %}
{{ graph_labels|json_script:"graph_labels" }}
{{ graph_dataset|json_script:"graph_dataset" }}
<script>
    // create a function to replace 0s with null
    function returnNull(numval) {
        if (numval == 0) {
            return null;
        } else return numval;
    }
    var chart_type = '{{chart_type}}';
    // set the selected chart type
    $("#chart_type").val(chart_type).change();
    if (chart_type == 'line') {
        var graph_labels = JSON.parse(document.getElementById('graph_labels').textContent);
        var graph_dataset = JSON.parse(document.getElementById('graph_dataset').textContent);
        var trace1 = {
            x: graph_labels,
            y: graph_dataset,
            type: 'scatter'
        };
        var data = [trace1];
        var layout = {
        xaxis: {
            automargin: true,
            title: {text:'Date',
            standoff: 20
            },
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 'auto',
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        },
        yaxis: {
            title: 'Closing Price ($)',
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 45,
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        }
        };
        Plotly.newPlot('chartdiv', data, layout);
    } else if (chart_type == 'candlestick') {
        // set up the arrays
        var dataset1 = {

            x: {{ chart_dates|safe }},

            close: {{ close_prices|safe }},

            decreasing: {
                line: {
                    color: 'red'
                }
            },

            high: {{ highs|safe }},

            increasing: {
                line: {
                    color: 'green'
                }
            },

            line: {
                color: 'rgba(31,119,180,1)'
            },

            low: {{ lows|safe}},

            open: {{ open_prices|safe }},

            type: 'candlestick',
            xaxis: 'x',
            yaxis: 'y'
        };

        var data = [dataset1];

        var layout = {
            dragmode: 'zoom',
            margin: {
                r: 10,
                t: 25,
                b: 40,
                l: 60
            },
            showlegend: false,
            xaxis: {
                autorange: true,
                title: 'Date',
                rangeslider: {
                    visible:false
                },
                type: 'date'
            },
            yaxis: {
                autorange: true,
                title: 'Price ($TTD)',
                type: 'linear'
            }
        };

        Plotly.newPlot('chartdiv', data, layout);
    }
</script>
{% endblock chartjs %}
<!-- END MAIN -->

<!--Javascript-->
{% block activepagetoggle %}
$("#stockhistorylink").toggleClass("has-background-red");
{% endblock %}

{% block morejs%}
<script>
</script>
{% endblock morejs%}