{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}

    {% block sidepanelcontents %}
    {% endblock sidepanelcontents %}

    {% block mainblock %}
    <h1>Technical Analysis Summary</h1>
    <div class="tablediv">
        {% render_table table %}
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#technicalanalysislink").toggleClass("has-background-red");
    {% endblock %}
    {% block changeconfigbutton %}
    $('#configbutton').off('click')
    $('#configbutton').css('cursor', 'not-allowed'); // 'default' to revert
    {% endblock %}