{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block description %}"Historical market index data for the Trinidad and Tobago Stock Exchange (TTSE),
    displayed in a line chart and table."
    {% endblock description %}

    {% block title %}trinistats | Stocks | Market Index Historical Data for the Trinidad and Tobago Stock Exchange (TTSE)
    {% endblock title %}

    {% block sidepanelcontents %}
    <div class="panel-block">
        <label class="panellabel" for="">Market Index Name</label>
        <select class="custom-date-selector" id="indexname" name="indexname">
            <option value="Composite Totals">Composite Totals</option>
            <option value="All T&T Totals">All T&T Totals</option>
            <option value="Cross Listed Totals">Cross-Listed Totals</option>
        </select>
    </div>
    <div class="panel-block">
    <label class="panellabel" for="">Market Parameter</label>
    <select class="custom-date-selector" id="indexparameter" name="indexparameter">
        <option value="indexvalue">Index Value</option>
        <option value="volumetraded">Volume Traded</option>
        <option value="valuetraded">Value Traded</option>
        <option value="numtrades">No. of Trades</option>
    </select>
    </div>
    <div class="panel-block">
        <label class="panellabel"for="startdate">Start Date:</label>
        <input class="custom-date-selector" type="date" value="{{ enteredstartdate }}" id="startdate" name="date__gte">
    </div>
    <div class="panel-block">    
        <label class="panellabel" for="enddate">End Date:</label>
        <input class="custom-date-selector" type="date" value="{{ enteredenddate }}" id="enddate" name="date__lte"/>
    </div>
    <div class="panel-block">   
        <input type="hidden" value="date" name="sort"></input>
        <input name="configure_button" class="custom-red-button" type="submit" onclick="location.href='{% url 'stocks:marketindexhistory' %}" value="Search"/>
    </div>
    {% endblock sidepanelcontents %}

    {% block mainblock %}
        <h1 style="" id="charttitle">Market Index History</h1>
        <br>
        <!-- Chart -->
        <div id="chartdiv" class="chart-div" style="">
        </div>
        <br>
        <div class="tablediv">
        {% render_table table %}
        </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var index_parameter_string = '{{ index_parameter_string }}';
    var trace1 = {
        x: graphlabels,
        y: graphdataset,
        type: 'scatter'
    };
    var data = [trace1];
    var layout = {
    xaxis: {
        title: 'Date',
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: 'auto',
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    },
    yaxis: {
        title: index_parameter_string,
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: 45,
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    }
    };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#markethistorylink").toggleClass("has-background-red");
    // set the selected value for the configurations
    $("#indexname").val("{{ indexname|safe }}").change();
    $("#indexparameter").val("{{ indexparameter|safe }}").change();
    {% endblock %}

     {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}