{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block description %}"Historical dividend payments from stocks listed on the Trinidad and Tobago Stock Exchange(TTSE),
    displayed in a line chart and table."
    {% endblock description %}
    {% block title %}trinistats | Stocks | Dividend Payment History Data for the Trinidad and Tobago Stock Exchange (TTSE)
    {% endblock title %}

    {% block customizationbar %}

    <div class="column">
        <label class="" for="symbol">Stock:</label>
        <select class="custom-dropdown" id="symbol" name="symbol">
            <!--Add options based on dictionary items returned-->
            {% for listed_stock in listed_stocks %}
                {% if listed_stock.symbol == selected_stock_symbol %}
                    <option value="{{ listed_stock.symbol }}" selected>{{ listed_stock.symbol }} ({{ listed_stock.security_name }})</option>
                {% else %}
                    <option value="{{ listed_stock.symbol }}">{{ listed_stock.symbol }} ({{ listed_stock.security_name }})</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="column">
       <label class="" for="startdate">Start Date:</label>
        <input class="custom-date-selector" type="date" value="{{ entered_start_date }}" id="startdate" name="record_date__gte">
    </div>

    <div class="column">
        <label for="enddate" class="">End Date:</label>
        <input class="custom-date-selector" type="date" value="{{ entered_end_date }}" id="enddate" name="record_date__lte"/>
    </div>

    <div class="column">
        <input type="hidden" value="record_date" name="sort"></input>
        <input name="configure_button"  class="custom-red-button" type="submit" onclick="location.href='{% url 'stocks:dividendhistory' %}" value="Search"/>
    </div>

    {% endblock customizationbar %}

    {% block mainblock %}
    <h1 id="charttitle">Dividend History for {{selected_stock_name}} ({{selected_stock_symbol}})</h1>
    <br>
        <!-- Chart -->
    <div id="chartdiv" class="chart-div">
    </div>
        <br>
        <div class="is-clearfix clearfix"></div>
    <div class="tablediv_noscroll">
        {% render_table table %}
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {{ graph_labels|json_script:"graph_labels" }}
    {{ graph_dataset|json_script:"graph_dataset" }}
    <script>
    var graph_labels = JSON.parse(document.getElementById('graph_labels').textContent);
    var graph_dataset = JSON.parse(document.getElementById('graph_dataset').textContent);
    var trace1 = {
            x: graph_labels,
            y: graph_dataset,
            type: 'scatter'
        };
        var data = [trace1];
        var layout = {
        xaxis: {
            automargin: true,
            title: {text:'Date',
            standoff: 20
            },
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 'auto',
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        },
        yaxis: {
            title: 'Dividends Paid ($/share)',
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 45,
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        }
        };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#dividendhistorylink").toggleClass("has-background-red");
    {% endblock %}