{% extends "base.html" %}
{% load static %}

    {% block description %}
    "trinistats logout page"
    {% endblock description %}
    {% block title %}trinistats | Stocks | Logout
    {% endblock title %}

    {% block mainblock %}
    <div class="box">
        <h1>Logout from trinistats</h1>
    </div>
    <div style="text-align:center;" class="box less-width">
        {% if logout_success %}
        <p>You have been logged out successfully. &nbsp <i class="fas fa-2x fa-user-slash has-text-success"></i></p>
        <br>
        {% elif delete_account_success %}
        <p>Your account has been deleted successfully. &nbsp <i class="fas fa-2x fa-user-minus has-text-success"></i></p>
        <br>
        {% else %}
        <p>
        We're sorry to see you go.&nbsp <i class="far fa-2x fa-frown has-text-danger"></i></p>
        <br>
        {% endif %}
        <button id="logout_button" class="button is-danger" onclick="window.location.href='{% url "stocks:logout" %}?logout=True';" value="">Logout</button>
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    {% endblock %}
    {% block morejs%}
    <script>
    {% if logout_success or delete_account_success %}
        $("#logout_button").prop('disabled', true);
    {% endif %}
    </script>
    {% endblock morejs%}