{% extends "base.html" %}
{% load static %}

    {% block description %}
    "trinistats logout page"
    {% endblock description %}
    {% block title %}trinistats | Stocks | Password Change Complete
    {% endblock title %}

    {% block mainblock %}
    <div class="box">
        <h1>Password Change Complete!</h1>
    </div>
    <div style="text-align:center;" class="box less-width">
        <p>Your password has been changed successfully. Next time you login, remember to use this new one.</p>
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    {% endblock %}
    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}