/* Mobile-first designs. Override with desktop-specifics later.*/

* {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.panel,
.panel-heading {
    background-color: black;
    color: white;
}

.panel {
    z-index: 10;
    position: absolute;
}

.panel-heading {
    text-align: center;
    border-bottom: 1px solid white;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.orderable a {
    color: white;
}

.pagination li a {
    color: black;
}

.is-selected {
    color: white;
}

.custom-red-button {
    background-color: red;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    border-width: 0em;
    border-radius: 0.2em;
    cursor: pointer;
    padding-left: 1em;
    padding-right: 1em;
    color: #ffffff;
    font-size: 1.2rem;

}

.export-csv-button {
    border-width: 0em;
    border-radius: 0.2em;
    cursor: pointer;
    background-color: green;
    color: white;
    margin-left: 0.2em;
    margin-right: 0.2em;
    font-size: 1rem;
}

.custom-date-selector {
    cursor: pointer;
    font-size: 1em;
    border-radius: 0.2em;
    border-width: 0.1em;
    color: black;
    text-align: center;
    width: 9em;
    flex-shrink: 1;
    background-color: white;
}

.custom-dropdown {
    cursor: pointer;
    font-size: 1rem;
    color: black;
    text-align: left;
    max-width: 11.5em;
}

.panellabel {
    color: white !important;
    margin-right: 0.4em;
}

.navbaricon {
    width: 6rem;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
}

h2 {
    text-align: center;
    font-size: x-large;
}

.tablediv_scroll {
    margin-left: 5em;
    overflow-x: scroll;
}

.tablediv_noscroll {
    overflow-x: scroll;
    margin: 0.2rem;
}

.djangotables {
    font-size: 1rem;
    width: 100%;
}

table {
    border-collapse: collapse;
    border-radius: 5px;
}

.headcol {
    position: absolute;
    width: 5rem;
    left: 0;
}

th,
th.headcol {
    border: none;
    background-color: black;
    color: white;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

td {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

tr.odd,
tr.odd td.headcol {
    background-color: lightgrey;
}

.pagination {
    list-style: none;
    display: inline;
    display: block;
    text-align: center;
    margin: auto;
    color: black;
}

.previous,
.next {
    font-weight: bold;
    font-size: 1em;
    color: black;
}

.pagination ul {
    list-style: none;
}

.pagination li {
    display: inline;
}

.active {
    font-weight: bolder;
    font-size: 1.5em;
}

.has-background-red {
    background-color: red;
    border-radius: 0.2em;
}

.has-background-black {
    background-color: black;
}

.has-background-black a {
    color: white;
}

.has-background-lightgreen {
    background-color: #e6ffe6;
}

.has-background-lightred {
    background-color: #ff9980;
}

#customizationbar{
    background-color:gainsboro;
}

.horizontal-flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.vertical-flex-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 8;
}

.is-invisible {
    visibility: hidden;
}

.textblock {
    margin-left: 1rem;
    margin-right: 1rem;
}

.chart-div {
    height: 25rem;
}

.ebaybannerdiv {
    height: 14rem;
}

#adlessdiv {
    height: 0rem;
}

/* Desktop-Specific Override */
@media only screen and (min-width: 1024px) {

    .chart-div {
        height: 40 rem;
    }

    .topbannerdiv {
        height: 14em;
    }
}