html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

.w3-sidebar {
    z-index: 3;
    width: 2em;
    top: 2.5em;
    bottom: 0;
    height: inherit;
}

.h2{
    text-align: center;
}

.djangotables {
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}

th{
    border: 1px solid black;
    background-color: black;
    color:white; 
}

td{
    border: 1px solid black;
}

.pagination{
    list-style: none;
    display: inline;
    display: block;
    text-align: center;
    margin:auto;
}

.previous,.next{
    font-weight: bold;
    font-size: 1em;
}

.pagination ul {
    list-style: none;
}

.pagination li{
    display: inline;
}

.active{
    font-weight: bolder;
    font-size:1.5em;
}

.w3-date-selector{
	cursor:pointer;
    font-size:1em;
    height:1.5em;
    border-radius: 0.2em;
    border-width: 0.1em;
    color:black;
    text-align: center;
    width:9em;
    flex-shrink: 1;
    background-color: white;
}

.w3-label1{
    color:white;
    flex-shrink: 3;
}

.w3-button3{
	background-color:red;
	border-radius:0.2em;
    border:0.1em outset black;
    cursor:pointer;
    height:2.0em;
    color:#ffffff;
    font-size:1em;
}

.w3-select1{
	cursor:pointer;
    font-size:1em;
    height:1.5em;
    width: 10em;
    border-radius: 0.2em;
    border-width: 0.1em;
    flex-shrink: 1;
    background-color: white;
}

.second-top-bar{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: left;
    background-color: black;
    align-items: center;
}

.flexbox-item{
    margin-left: 0.5em;
}