html,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", sans-serif;
}

.iconimg {
    max-width: 5%;
    height: auto;
}

.h2 {
    text-align: center;
}

canvas#covid19chart {
    margin: 2em auto;
}

.djangotables {
    width: 75%;
    margin: 1em auto;
}

.djangotables td,
th {
    padding: 0.2em;
    text-align: center;
}

.djangotables tr:hover {
    background-color: #d5d5d2;
}

.has-rounded-border {
    border-radius: 0.5rem;
}

.has-margin {
    margin: 0.25em;
}

@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table,
    thead,
    tbody,
    th,
    td,
    tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr {
        border: 1px solid #ccc;
    }

    .djangotables td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        text-align: left;
    }

    .djangotables td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align: left !important;
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before {
        content: "Update Time";
    }

    td:nth-of-type(2):before {
        content: "Total Tested";
    }

    td:nth-of-type(3):before {
        content: "Tested Positive";
    }

    td:nth-of-type(4):before {
        content: "Total Deaths";
    }

    td:nth-of-type(5):before {
        content: "Total Recovered";
    }
}


p {
    font-size: 1.25em;
}

.chart-div {
    height: 25rem;
}

.a:link {
    color: blue;
}

.pagination {
    list-style: none;
    display: inline;
    display: block;
    text-align: center;
    margin: auto;
}

.previous,
.next {
    font-weight: bold;
    font-size: 1em;
}

.pagination ul {
    list-style: none;
}

.pagination li {
    display: inline;
}

.active {
    font-weight: bolder;
    font-size: 1.5em;
}

.w3-select1 {
    cursor: pointer;
    font-size: 1em;
    height: 1.5em;
    width: 100%;
    border-radius: 0.2em;
    border-width: 0.1em;
    flex-shrink: 1;
    background-color: white;
    color: black;
    text-align: center;
    align-items: flex-start;
}

.w3-select1 select {
    background-color: red;
}



.w3-date-selector {
    cursor: pointer;
    font-size: 1em;
    height: 1.5em;
    border-radius: 0.2em;
    border-width: 0.1em;
    color: black;
    text-align: center;
    width: 100%;
    flex-shrink: 1;
    background-color: white;
}

.w3-label1 {
    color: white;
    flex-shrink: 3;
    font-size: 1.2em;
}

.w3-button-2 {
    text-align: center;
    cursor: pointer;
}

.maincontentcss {
    width: 100%;
}

.chartdiv {
    padding-left: 1em;
    padding-right: 1em;
    margin: auto;
    height: 40em;
}

.w3-left-sidebar {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    background-color: #fff;
    position: fixed !important;
    overflow: auto;
    z-index: 3;
    width: 8em;
    top: 2.8em;
    bottom: 0;
    display: none;
    margin-bottom: 5em;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.5em;
}

.w3-left-sidebar * {
    flex: 1;
    width: 100%;
    max-height: 4em;
    text-align: center;
    text-decoration: none;
}

.w3-left-sidebar a {
    display: flex;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
}

.navbar-header {
    align-self: center;
    max-height: 2em;
    font-size: 1.5em;
}

.menuclosebutton {
    max-height: 4em;
    width: 100%;
}

.topbar {
    display: -webkit-box;
    /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;
    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;
    /* TWEENER - IE 10 */
    display: -webkit-flex;
    /* NEW - Chrome */
    display: flex;
    /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    font-size: 2em;
    align-content: flex-start;
}

.topbar * {
    flex: 1;
}

/* Desktop-Specific Override */
@media only screen and (min-width: 1024px) {

    .chart-div {
        height: 40rem;
    }

    .topbannerdiv {
        height: 14em;
    }
}