html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}

.h2{
    text-align:center;
}

.djangotables {
}

p{
    font-size:1.25em;
}

.a:link{
    color:blue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}

th{
    border: 1px solid black;
    background-color: black;
    color:white; 
}

td{
    border: 1px solid black;
}

.pagination{
    list-style: none;
    display: inline;
    display: block;
    text-align: center;
    margin:auto;
}

.previous,.next{
    font-weight: bold;
    font-size: 1em;
}

.pagination ul {
    list-style: none;
}

.pagination li{
    display: inline;
}

.active{
    font-weight: bolder;
    font-size:1.5em;
}

.w3-date-selector{
	cursor:pointer;
    font-size:1em;
    height:1.5em;
    border-radius: 0.2em;
    border-width: 0.1em;
    color:black;
    text-align: center;
    width:100%;
    flex-shrink: 1;
    background-color: white;
}

.w3-label1{
    color:white;
    flex-shrink: 3;
}

.w3-button3{
	background-color:red;
	border-radius:0.2em;
    border:0.1em outset black;
    cursor:pointer;
    height:1.8em;
    color:#ffffff;
    font-size:1em;
    margin-top:0.2em;
    margin-bottom: 0.2em;
}

.w3-select1{
	cursor:pointer;
    font-size:1em;
    height:1.5em;
    width: 10em;
    border-radius: 0.2em;
    border-width: 0.1em;
    flex-shrink: 1;
    background-color: white;
}

.second-top-bar{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: left;
    background-color: black;
    align-items: center;
}

.flexbox-item{
    margin-left: 0.5em;
}

.maincontentcss{
    width:100%;
}

.chartdiv{
    height:20em;
}

.menuclosebutton{
    display:block;
    border:none;
    outline:0;
}

.w3-left-sidebar {
    flex-direction:column;
    flex-wrap:nowrap;
    height:100%;
    background-color:#fff;
    position:fixed!important;
    overflow:auto;
    z-index:3;
    width:11em;
    top:2.5em;
    bottom:0;
    display:none;
}

.w3-right-sidebar{
    right:0;
    flex-direction:column;
    flex-wrap:nowrap;
    height:100%;
    position:fixed!important;
    overflow:auto;
    z-index:3;
    width:11em;
    top:2.5em;
    bottom:0;
    display:none;
}

.flexbox{
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: flex-start;
}

.navbar-header{
    padding-left:0.2em;
    align-self:center;
}