html,body,h1,h2,h3,h4,h5,h6 {
    font-family: "Roboto", sans-serif;
}

.w3-sidebar2 {
    height:100%;
    background-color:#fff;
    position:fixed!important;
    overflow:auto;
    z-index:3;
    width:11em;
    top:2.5em;
    bottom:0;
    height:inherit;
    display:none;
}

.h2{
    text-align:center;
}

canvas#covid19chart {
    margin: 2em auto;
}

.djangotables {
    width: 75%;
    margin: 1em auto;
}

.djangotables td, th {
    padding: 0.2em;
    text-align: center;
}

.djangotables tr:hover {
    background-color: #d5d5d2;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    .djangotables td { 
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
        text-align: left;
    }

    .djangotables td:before { 
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%; 
        padding-right: 10px; 
        white-space: nowrap;
        text-align: left !important; 
    }

    /*
    Label the data
    */
    td:nth-of-type(1):before { content: "Update Time"; }
    td:nth-of-type(2):before { content: "Total Tested"; }
    td:nth-of-type(3):before { content: "Tested Positive"; }
    td:nth-of-type(4):before { content: "Total Deaths"; }
    td:nth-of-type(5):before { content: "Total Recovered"; }
}


p{
    font-size:1.25em;
}

.a:link{
    color:blue;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    width:100%;
}

th{
    border: 1px solid black;
    background-color: black;
    color:white; 
}

td{
    border: 1px solid black;
}

.pagination{
    list-style: none;
    display: inline;
    display: block;
    text-align: center;
    margin:auto;
}

.previous,.next{
    font-weight: bold;
    font-size: 1em;
}

.pagination ul {
    list-style: none;
}

.pagination li{
    display: inline;
}

.active{
    font-weight: bolder;
    font-size:1.5em;
}

.w3-date-selector{
	cursor:pointer;
    font-size:1em;
    height:1.5em;
    border-radius: 0.2em;
    border-width: 0.1em;
    color:black;
    text-align: center;
    width:9em;
    flex-shrink: 1;
    background-color: white;
}

.w3-label1{
    color:white;
    flex-shrink: 3;
}

.w3-button3{
	background-color:red;
	border-radius:0.2em;
    border:0.1em outset black;
    cursor:pointer;
    height:1.8em;
    color:#ffffff;
    font-size:1em;
    margin-top:0.2em;
    margin-bottom: 0.2em;
}

.w3-select1{
	cursor:pointer;
    font-size:1em;
    height:1.5em;
    width: 10em;
    border-radius: 0.2em;
    border-width: 0.1em;
    flex-shrink: 1;
    background-color: white;
}

.second-top-bar{
    display: flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: left;
    background-color: black;
    align-items: center;
}

.flexbox-item{
    margin-left: 0.5em;
}

.maincontentcss{
    width:100%;
}

.chartdiv{
    height:20em;
    width: 75%;
    margin: 1em auto;
}

.menuclosebutton{
    display:block;
    border:none;
    outline:0;
    float:right;
}