{% extends "base.html" %}
{% load static %}

    {% block description %}
    "Reset your password for your account on trinistocks"
    {% endblock description %}
    {% block title %}trinistocks | Password Reset Confirm
    {% endblock title %}

    {% block mainblock %}
    <div class="box">
        <h1>Confirm Password Reset</h1>
    </div>

    <div style="text-align:center;" class="box less-width">
        <form method="POST">
            {% csrf_token %}

            <div class="field">
                <label class="label" for="{{ form.new_password1.id_for_label }}">Enter your new password.</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="input"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                </div>
            </div>

            <div class="field">
                <label class="label" for="{{ form.new_password2.id_for_label }}">Enter the same password again.</label>
                <div class="control has-icons-left has-icons-right">
                    <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="input"/>
                    <span class="icon is-small is-left">
                        <i class="fas fa-key"></i>
                    </span>
                    <span class="icon is-small is-right">
                    {% if form.new_password2.value and form.new_password2.errors %}
                    <i class="fas fa-exclamation-circle"></i>
                    {% elif form.new_password2.value %}
                    <i class="fas fa-check"></i>
                    {% endif %}
                    </span>
                </div>
                {% if form.new_password2.value and form.new_password2.errors %}
                    <p class="help is-danger">
                    {% for error in form.new_password2.errors %}
                    {{error}}
                    {% endfor %}
                    </p>
                {% elif form.new_password2.value %}
                <p class="help is-success">
                Both passwords match!
                </p>
                {% endif %}
            </div>
                  
            <input id="submit_button" class="button is-info is-size-5" type="submit" value="Reset password"></input>

            <p class="help is-danger" id="invalid_token_helptext">We could not detect a valid token. Did you follow an email link here?</p>
        
        </form>
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    {% endblock %}
    {% block morejs%}
    <script>
    {% if not form %}
        $("#invalid_token_helptext").show();
        $("#id_new_password1").prop('disabled', true);
        $("#id_new_password2").prop('disabled', true);
        $("#submit_button").prop('disabled', true);
    {% else %}
        $("#invalid_token_helptext").hide();
    {% endif %}
    {% if reset_sent %}
        $("#reset_button").prop('disabled', true);
    {% endif %}
    </script>
    {% endblock morejs%}