{% extends "base.html" %}
{% load static %}

    {% block description %}
    "Reset your password for your account on trinistats"
    {% endblock description %}
    {% block title %}trinistats | Stocks | Password Change
    {% endblock title %}

    {% block mainblock %}
    <div class="box">
        <h1>Change Password for {{request.user.username}}</h1>
    </div>

    <div style="text-align:center;" class="box less-width">
        <form action="{% url "stocks:password_change" %}" method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label" for="{{ form.old_password.id_for_label }}">Old Password</label>
            <div class="control has-icons-left has-icons-right">
                <input class="input" type="password" name="old_password" autocomplete="current-password" autofocus required id="id_old_password">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                {% if form.old_password.value and form.old_password.errors %}
                <i class="fas fa-exclamation-circle"></i>
                {% elif form.old_password.value %}
                <i class="fas fa-check"></i>
                {% endif %}
                </span>
            </div>
            {% if form.old_password.value and form.old_password.errors %}
                <p class="help is-danger">
                {% for error in form.old_password.errors %}
                {{error}}
                {% endfor %}
                </p>
            {% elif form.old_password.value %}
            <p class="help is-success">
            Old password matches.
            </p>
            {% endif %}
        </div>

        <div class="field">
            <label class="label" for="{{ form.new_password1.id_for_label }}">New Password</label>
            <div class="control has-icons-left has-icons-right">
                <input type="password" class="input" name="new_password1" autocomplete="new-password" required id="id_new_password1">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                {% if form.new_password1.value and form.new_password1.errors %}
                <i class="fas fa-exclamation-circle"></i>
                {% elif form.new_password1.value %}
                <i class="fas fa-check"></i>
                {% endif %}
                </span>
            </div>
        </div>

        <div class="field">
            <label class="label" for="{{ form.new_password2.id_for_label }}">New Password (Re-enter)</label>
            <div class="control has-icons-left has-icons-right">
                <input type="password" class="input" name="new_password2" autocomplete="new-password" required id="id_new_password2">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
                <span class="icon is-small is-right">
                {% if form.new_password2.value and form.new_password2.errors %}
                <i class="fas fa-exclamation-circle"></i>
                {% elif form.new_password2.value %}
                <i class="fas fa-check"></i>
                {% endif %}
                </span>
            </div>
            {% if form.new_password2.value and form.new_password2.errors %}
                <p class="help is-danger">
                {% for error in form.new_password2.errors %}
                {{error}}
                {% endfor %}
                </p>
            {% elif form.new_password2.value %}
            <p class="help is-success">
            Password looks fine.
            </p>
            {% endif %}
        </div>
        
        <input id="change_password_button" class="button is-primary" type="submit" value="Change Password"></input>
        </form>
        <br>
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    {% endblock %}
    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}