{% extends "base.html" %}
{% load static %}

    {% block description %}
    "Password reset complete for trinistocks"
    {% endblock description %}
    {% block title %}trinistocks | Password Reset Complete
    {% endblock title %}

    {% block mainblock %}
    <div class="box">
        <h1>Password Reset Complete!</h1>
    </div>
    <div style="text-align:center;" class="box less-width">
        <p>Your password has been reset successfully. Please try to login with the new password now.</p>
        <br>
        <button id="login_button" class="button is-success" onclick="window.location.href='{% url "stocks:login" %}';" value="">Login</button>
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    {% endblock %}
    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}