{% extends "base.html" %}
{% load static %}

    {% block description %}
    "Reset your password for your account on trinistocks"
    {% endblock description %}
    {% block title %}trinistocks | Password Reset
    {% endblock title %}

    {% block mainblock %}
    <div class="box">
        <h1>Reset Password</h1>
    </div>

    <div style="text-align:center;" class="box less-width">
        <form action="{% url "stocks:password_reset_request" %}" method="post">
        {% csrf_token %}

        <div class="field">
            <label class="label" for="{{ form.email.id_for_label }}">Email Address</label>
            <div class="control has-icons-left has-icons-right">
                {{form.email}}
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                {% if form.email.value and form.email.errors %}
                <i class="fas fa-exclamation-circle"></i>
                {% elif form.email.value %}
                <i class="fas fa-check"></i>
                {% endif %}
                </span>
            </div>
            {% if form.email.value and form.email.errors %}
                <p class="help is-danger">
                {% for error in form.email.errors %}
                {{error}}
                {% endfor %}
                </p>
            {% elif form.email.value %}
            <p class="help is-success">
            Email address found. Please check your inbox for a reset message from us!
            </p>
            {% endif %}
        </div>
        
        <input id="reset_button" class="button is-primary" type="submit" value="Send reset link"></input>
        </form>
        <br>
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    {% endblock %}
    {% block morejs%}
    <script>
    {% if reset_sent %}
        $("#reset_button").prop('disabled', true);
    {% endif %}
    </script>
    {% endblock morejs%}