{% extends "base.html" %}
{% load static %}

    {% block description %}"Historical dividend payments from stocks listed on the Trinidad and Tobago Stock Exchange(TTSE)"
    {% endblock description %}
    {% block title %}trinistocks | Dividend History
    {% endblock title %}

    {% block customizationbar %}

    <div class="panelblock">
        <label class="panellabel" for="symbol">Stock:</label>
        <select class="custom-dropdown" id="symbol" name="symbol">
            <!--Add options based on dictionary items returned-->
            {% for listed_stock in listed_stocks %}
                {% if listed_stock.symbol == selected_stock_symbol %}
                    <option value="{{ listed_stock.symbol }}" selected>{{ listed_stock.symbol }} ({{ listed_stock.security_name }})</option>
                {% else %}
                    <option value="{{ listed_stock.symbol }}">{{ listed_stock.symbol }} ({{ listed_stock.security_name }})</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>

    <div class="panelblock">
       <label class="panellabel" for="startdate">Start Date:</label>
        <input class="custom-date-selector" type="date" value="{{ entered_start_date }}" id="startdate" name="record_date__gte">
    </div>

    <div class="panelblock">
        <label for="enddate" class="">End Date:</label>
        <input class="custom-date-selector" type="date" value="{{ entered_end_date }}" id="enddate" name="record_date__lte"/>
    </div>

    <div class="panelblock">
        <input type="hidden" value="-record_date" name="sort"></input>
        <input name="configure_button"  class="custom-red-button" type="submit" onclick="location.href='{% url 'stocks:dividendhistory' %}" value="Search"/>
    </div>

    {% endblock customizationbar %}

    {% block mainblock %}
    <h1 id="charttitle">Dividend History for {{selected_stock_name}} ({{selected_stock_symbol}})</h1>
    <br>
        <!-- Chart -->
    <div id="chartdiv" class="chart-div">
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {{ graph_labels_1|json_script:"graph_labels_1" }}
    {{ graph_dataset_1|json_script:"graph_dataset_1" }}
    {{ graph_labels_2|json_script:"graph_labels_2" }}
    {{ graph_dataset_2|json_script:"graph_dataset_2" }}
    <script>
    var graph_labels_1 = JSON.parse(document.getElementById('graph_labels_1').textContent);
    var graph_dataset_1 = JSON.parse(document.getElementById('graph_dataset_1').textContent);
    var graph_labels_2 = JSON.parse(document.getElementById('graph_labels_2').textContent);
    var graph_dataset_2 = JSON.parse(document.getElementById('graph_dataset_2').textContent);
    var trace1 = {
        name: 'Dividends($)/share',
        x: graph_labels_1,
        y: graph_dataset_1,
        type: 'scatter'
    };
    var trace2 = {
        name: 'Dividend Yield(%)',
        x: graph_labels_2,
        y: graph_dataset_2,
        yaxis:'y2',
        type: 'scatter'
    };
    var data = [trace1,trace2];
    var layout = {
    showlegend: true,
    legend: {
        x: 1,
        xanchor: 'right',
        y: 1.2
    },
    xaxis: {
        automargin: true,
        title: {text:'Date',
        standoff: 20
        },
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: 'auto',
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    },
    yaxis: {
        title: 'Dividends Paid ($/share)',
        titlefont: {
        size: 18
        },
        showticklabels: true,
        tickangle: 45,
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    },
    yaxis2: {
        title: 'Dividend Yield (%)',
        titlefont: {
        size: 18
        },
        showticklabels: true,
        tickangle: 45,
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all',
        overlaying:'y',
        side:'right'
    }
    };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#historicaldropdown").toggleClass("has-background-red");
    $("#dividendhistorylink").toggleClass("has-background-red");
    {% endblock %}