{% extends "base.html" %}
{% load django_tables2 %}
{% load static %}

    {% block description %}
    "Fundamental indicators and ratios for stocks listed on the Trinidad and Tobago Stock Exchange (TTSE)"
    {% endblock description %}

    {% block title %}
    trinistocks | Fundamental Data Summary
    {% endblock title %}

    {% block mainblock %}
    <h1>Fundamental Analysis Summary</h1>
    <br>
    <h2>Audited Data</h2>
    <div class="tablediv_scroll">
        {% render_table tables.0 %}
    </div>
    <br>
    <h2>Unaudited Data</h2>
    <div class="tablediv_scroll">
        {% render_table tables.1 %}
    </div>
    {% endblock mainblock %}

    {% block chartjs %}
    {% endblock chartjs %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block activepagetoggle %}
    $("#summarizeddropdown").toggleClass("has-background-red");
    $("#fundamentalanalysislink").toggleClass("has-background-red");
    $("#optionsbutton").unbind("click");
    $("#optionsbutton").toggleClass("graytext");
    $("#optionstooltip").toggleClass("is-hidden");
    {% endblock %}