{% load static %}
{% load stocks_template_tags %}
<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162313143-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162313143-1');
    </script>
    <script data-ad-client="ca-pub-6367544544740471" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!--Metadata-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A variety of data relevant to the people of Trinidad and Tobago. Rel trini statistics.">
    <meta name="author" content="Rishi Latchmepersad">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Trinistats: Bringing more data to T&T.">
    <meta name="twitter:title" content="Trinistats">
    <meta name="twitter:description" content="Bringing more data to the people of Trinidad and Tobago.">
    <meta name="twitter:creator" content="Rishi Latchmepersad">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE">
    <!-- Open Graph data -->
    <meta property="og:title" content="Trinistats" />
    <meta property="og:type" content="graph" />
    <meta property="og:url" content="http://www.trinistats.com" />
    <meta property="og:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE" />
    <meta property="og:description" content="Bringing more data to the people of Trinidad and Tobago." />
    <meta property="og:site_name" content="trinistats.com" />
    <!--End Metadata-->
    {% block title %}<title>trinistats | Home | Data 'fuh d' average Trini</title>{% endblock title %}
    <link rel="shortcut icon" href="{%  static 'stocks/favicon.ico' %}">
    <link rel="shortcut icon" href="{%  static 'stocks/favicon.ico' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/dbb1ac5feb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'central/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'central/styles.css' %}">
</head>
<body>

    <!-- Header -->
  <section class="hero is-dark">
    <div class="hero-body">
      <div class="container has-text-centered">
        <img class="bannerimage" src="{%  static 'central/trinistats_logo.svg.png' %}"></img>
        <h2 class="subtitle">
          Data 'fuh d' average Trini
        </h2>
      </div>
    </div>
  </section>

  <div class="tile is-ancestor">
    <div class="tile is-parent has-text-centered custom-tile-parent">
      <a class="tile is-child box" style="background-color:green;color:white;" class="" href={% url "covid19:totals" %}>
        <p class="is-size-3">COVID-19</p>
        <i class="fas fa-virus fa-10x" title="COVID-19 Data for Trinidad and Tobago"></i>
        <p class="is-size-5">Data on the tests and deaths within the country</p>
      </a>
    </div>
    <div class="tile is-parent has-text-centered custom-tile-parent" >
      {% get_latest_date_dailytradingsummary as latest_date %}
      <a class="tile is-child box" style="background-color:red;color:white;" href='{% url "stocks:landingpage" %}'>
        <p class="is-size-3">Stock Exchange</p>
        <i class="fas fa-chart-line fa-10x" title="Stock Data from the Trinidad and Tobago Stock Exchange (TTSE)"></i>
        <p class="is-size-5">Data on equities listed on the local Stock Exchange</p>
      </a>
    </div>
    <div class="tile is-parent has-text-centered custom-tile-parent">
      <a class="tile is-child box" href="#" style="background-color:blue;color:white;">
        <p class="is-size-3">Bank Rates</p>
        <i class="fas fa-money-check-alt fa-10x"></i>
        <p class="is-size-5">Coming soon...</p>
      </a>
    </div>
  </div>
    
    {% block basejs %}
    <!--Javascript-->
    <!--Error Messages -->
    {% if errors != "" %}
    <script>
            alert('{{ errors }}');
    </script>
    {% endif %}

    {% endblock basejs%}
    {% block morejs %}
    <script>
    </script>
    {% endblock morejs%}
</body>
</html>