{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162313143-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162313143-1');
    </script>
    <!-- Google Ads -->
    <script data-ad-client="ca-pub-6367544544740471" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!--Metadata-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Statistical data concerning the Island of Trinidad and Tobago.">
    <meta name="author" content="Rishi Latchmepersad">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Trinistats: Bringing more data to T&T.">
    <meta name="twitter:title" content="Trinistats">
    <meta name="twitter:description" content="Statistical data concerning the Island of Trinidad and Tobago.">
    <meta name="twitter:creator" content="Rishi Latchmepersad">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE">
    <!-- Open Graph data -->
    <meta property="og:title" content="Trinistats" />
    <meta property="og:type" content="graph" />
    <meta property="og:url" content="http://www.trinistats.com" />
    <meta property="og:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE" />
    <meta property="og:description" content="Statistical data concerning the Island of Trinidad and Tobago." />
    <meta property="og:site_name" content="trinistats.com" />
    <!--End Metadata-->
    {% block title %}<title>Trinistats | Home</title>{% endblock title %}
    <link rel="shortcut icon" href="{%  static 'stocks/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'central/styles.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body,h1 {font-family: "Montserrat", sans-serif}
        img {margin-bottom: -7px}
        .w3-row-padding img {margin-bottom: 12px}
    </style>
    <script src="https://kit.fontawesome.com/dbb1ac5feb.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Header -->
    <header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
        <h1 class="w3-animate-top">Trinistats</h1>
    <h2 class="w3-large">Bringing data to the island of T<redtext>&</redtext>T</h2>
    </div>
    </header>

  <!--Main buttons-->
  <div class="w3-row-padding w3-center">
    <div class="w3-third w3-margin-top w3-margin-bottom">
    <a href="{% url "covid19:totals" %}">
      <div class="w3-card w3-card2 w3-container w3-hover-border-yellow" style="background-color:#ff4d4d;">
        <h3>COVID-19</h3><br>
        <i class="fas fa-virus fa-10x" style="color:black;"></i>
        <p>Data about the disease, as published by the Ministry of Health</p>
      </div>
    </a>
    </div>
    <div class="w3-third w3-margin-top w3-margin-bottom">
      <div class="w3-card w3-card2 w3-container w3-hover-border-yellow" style="background-color:#70db70">
        <h3>Stock Exchange</h3><br>
        <i class="fas fa-chart-line fa-10x w3-margin-bottom w3-text-theme"></i>
        <p>Data for equities listed on the Trinidad and Tobago Stock Exchange (TTSE)</p>
      </div>
    </div>
    <div class="w3-third w3-margin-top w3-margin-bottom w3-hover-border-yellow">
      <div class="w3-card w3-card2 w3-container w3-hover-border-yellow" style="background-color:#ff8c1a;">
        <h3>Movie Theatres</h3><br>
        <i class="fas fa-film fa-10x w3-margin-bottom w3-text-theme"></i>
        <p>Coming soon</p>
      </div>
    </div>

  </div>
    
    {% block basejs %}
    <!--Javascript-->
    <!--Error Messages -->
    {% if errors != "" %}
    <script>
            alert('{{ errors }}');
    </script>
    {% endif %}

    {% endblock basejs%}
    {% block morejs %}
    <script>
    </script>
    {% endblock morejs%}
</body>
</html>