{% extends "covid19/base.html" %}
{% load static %}

    {% block rightsidebarform %}
    <form action="{% url 'covid19:daily' %}" method="get">
    <div >
        <div class="field">
            <label for="startdate" class="is-size-5">Start Date</label>
            <div class="control">
                <input class="input" type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate">
            </div>
        </div>
        <div class="field">
            <label for="enddate" class="is-size-5">End Date</label>
            <div class="control">
                <input class="input leftrightspace" type="date" value="{{ enteredenddate }}" id="enddate" name="enddate">
            </div>
        </div>
        <div class="field">
            <label for="selectedcasetype" class="is-size-5">Data</label>
            <div class="control">
                <div class="select">
                    <select id="selectedcasetype" name="selectedcasetype">
                    {% for casetype in validcasetypes %}
                        {% if casetype.attname == selectedcasetypestr %}
                            <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                        {% else %}
                            <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="control has-text-centered">
            <button style="" class="button is-danger" type="submit">Run Query &nbsp<i class="fa fa-database"></i></button>
        </div>
        <br>
    </form>
    {% endblock rightsidebarform %}

    <!--Start main content-->
    {% block mainblock%}
    {% if errors != '' %}
        <p>We encountered an error while displaying this page: {{errors}}
    {% else %}
        <br>
        <h2 style="" id="dailyheader" class="is-size-2 has-text-centered">T&T Covid-19 events yesterday ({{yesterdaydata.date}})</h2>
        {% block maindiv %}
        <section style="" class="section" id="mainsection">
            <div class="container has-text-centered" style="" id="maindiv">
                <div class="columns is-centered has-text-centered">
                    <div style="background-color:blue;color:white;" class="column">
                        <p class="">{{ yesterdaydata.dailytests }} testing samples submitted &ensp;
                        <i class="fas fa-microscope fa-2x"></i></p>
                    </div>
                    <div style="background-color:orange;color:white;" class="column">
                        <p>{{ yesterdaydata.dailypositive }} persons tested positive &ensp; 
                        <i class="fas fa-procedures fa-2x"></i></p>
                    </div>
                    <div style="background-color:green;color:white;" class="column">
                        <p>{{ yesterdaydata.dailyrecovered }} person(s) discharged &ensp; 
                        <i class="fas fa-virus-slash fa-2x"></i></p>
                    </div>
                    <div style="background-color:red;color:white;" class="column">
                        <p>{{ yesterdaydata.dailydeaths }} person(s) died &ensp; 
                        <i class=" far fa-heart fa-2x"></i></p>
                    </div>
                </div>
            </div>
        </section>
        {% block pagetitle %}
        {% endblock pagetitle %}
        <!-- Chart -->
        <div id="chartdiv" style="height:40rem;width:auto;" class="chartdiv">
        <canvas id="covid19chart">
            Covid19 Chart
        </canvas>
        </div>
    {% endblock maindiv %}
    {% endif %}
    {% endblock mainblock %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    
    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var ctx = document.getElementById('covid19chart').getContext("2d");
    //load in our graph date labels from the python context
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    //load the actual dataset values 
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: graphlabels,
            datasets: graphdataset
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date'},
                type: 'time',
                distribution: 'linear'
					}],
                yAxes: [{
                    id:'A',
                    scaleLabel: {
                        display: true,
                        labelString: '{{ selectedcasetypeverbose|escapejs }}'},
                    type:'linear',
                    position:'left',
                },
                ]            
        }
        }
    });
    //get the div holding the canvas
    const chartdiv = document.getElementById("chartdiv");
    //create a resize observer to resize our chart
    const ro = new ResizeObserver( entries => {
    for (let entry of entries) {
        ctx.canvas.width = chartdiv.clientWidth;
        myChart.resize();
        myChart.update();
    }
    });
    // Observe one or multiple elements
    ro.observe(chartdiv);
    </script>
    {% endblock chartjs %}

    {% block highlightpage%}
    $("#cumulativelink").removeClass("border-red");
    $("#dailylink").addClass("border-red");
    {% endblock highlightpage %}

    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}