{% extends "covid19/base.html" %}
{% load static %}

    {% block rightsidebarform %}
    <form action="{% url 'covid19:totals' %}" method="get">
        <div class="field">
            <label for="startdate" class="is-size-5">Start Date</label>
            <div class="control">
                <input class="input" type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate">
            </div>
        </div>
        <div class="field">
            <label for="enddate" class="is-size-5">End Date</label>
            <div class="control">
                <input class="input leftrightspace" type="date" value="{{ enteredenddate }}" id="enddate" name="enddate">
            </div>
        </div>
        <div class="field">
            <label for="selectedcasetypeleft" class="is-size-5">Left Axis</label>
            <div class="control">
                <div class="select">
                    <select id="selectedcasetypeleft" name="selectedcasetypeleft">
                    {% for casetype in validcasetypes %}
                        {% if casetype.attname == selectedcasetypeleftstr %}
                            <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                        {% else %}
                            <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label for="selectedcasetyperight" class="is-size-5">Right Axis</label>
            <div class="control">
                <div class="select">
                    <select id="selectedcasetyperight" name="selectedcasetyperight">
                    {% for casetype in validcasetypes %}
                        {% if casetype.attname == selectedcasetyperightstr %}
                            <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                        {% else %}
                            <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="control has-text-centered">
            <button style="" class="button is-danger" type="submit">Run Query &nbsp<i class="fa fa-database"></i></button>
        </div>
        <br>
    </form>
    {% endblock rightsidebarform %}

    {% block maindiv %}
    {% if errors != '' %}
        <p>We encountered an error while displaying this page: {{errors}}
    {% else %}
        <div class="columns is-centered has-text-centered">
            <div style="background-color:blue;color:white;" class="column">
                <p class="">{{ latestrecord.numtested }} testing samples submitted &ensp;
                <i class="fas fa-microscope fa-2x"></i></p>
            </div>
            <div style="background-color:orange;color:white;" class="column">
                <p>{{ latestrecord.numpositive }} persons tested positive &ensp; 
                <i class="fas fa-procedures fa-2x"></i></p>
            </div>
            <div style="background-color:green;color:white;" class="column">
                <p>{{ latestrecord.numrecovered }} person(s) discharged &ensp; 
                <i class="fas fa-virus-slash fa-2x"></i></p>
            </div>
            <div style="background-color:red;color:white;" class="column">
                <p>{{ latestrecord.numdeaths }} person(s) died &ensp; 
                <i class=" far fa-heart fa-2x"></i></p>
            </div>
        </div>
        {% block pagetitle %}
        <h2 class="is-size-3" style="" id="charttitle">
        T&T Covid-19 Cumulative Data</h2>
        {% endblock pagetitle %}
        <!-- Chart -->
        <div style="height:40rem;width:auto;" id="chartdiv" class="chartdiv">
            <canvas id="covid19chart">
                Covid19 Chart
            </canvas>
        </div>
    {% endif %}
    {% endblock maindiv %}

    <!-- END MAIN -->
    
    <!--Javascript-->
    
    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var ctx = document.getElementById('covid19chart').getContext("2d");
    //load in our graph date labels from the python context
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    //convert the datetime into moments for Javascript
    var i;
    for (i=0;i<graphlabels.length;i++){
        graphlabels[i] = new Date(graphlabels[i])
    }
    //load the actual dataset values 
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    //set the font size
    Chart.defaults.global.defaultFontSize = 18;
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: graphlabels,
            datasets: graphdataset
        },
        options: {
            responsive: false,
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                scaleLabel: {
                    display: true,
                    labelString: 'Date'},
                type: 'time',
                distribution: 'linear'
					}],
                yAxes: [{
                    id:'A',
                    scaleLabel: {
                        display: true,
                        labelString: '{{ selectedcasetypeleftverbose|escapejs }}'},
                    type:'linear',
                    position:'left',
                },
                {
                    id:'B',
                    scaleLabel: {
                        display: true,
                        labelString: '{{ selectedcasetyperightverbose|escapejs }}'},
                    type:'linear',
                    position:'right',
                },
                ]            
        }
        }
    });
    //get the div holding the canvas
    const chartdiv = document.getElementById("chartdiv");
    //create a resize observer to resize our chart
    const ro = new ResizeObserver( entries => {
    for (let entry of entries) {
        ctx.canvas.width = chartdiv.clientWidth;
        myChart.resize();
        myChart.update();
    }
    });
    // Observe one or multiple elements
    ro.observe(chartdiv);
    </script>
    {% endblock chartjs %}
    
    {% block highlightpage%}
    $("#cumulativelink").addClass("border-red");
    $("#dailylink").removeClass("border-red");
    {% endblock highlightpage %}

    {% block morejs %}
    <script>
    </script>
    {% endblock morejs %}