{% extends "covid19/base.html" %}
{% load static %}

    {% block title %}
    trinistats | COVID-19 | Daily data for Trinidad and Tobago
    {% endblock title %}

    {% block rightsidebarform %}
    <form action="{% url 'covid19:daily' %}" method="get">
        <label for="startdate" class="w3-bar-item">Start Date</label>
        <input class="w3-bar-item w3-theme-l5" type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate">
        <label for="enddate" class="w3-bar-item">End Date</label>
        <input class="w3-bar-item w3-theme-l5" type="date" value="{{ enteredenddate }}" id="enddate" name="enddate">
        <label for="selectedcasetype" class="w3-bar-item">Data</label>
        <select class="w3-bar-item w3-theme-l5" id="selectedcasetype" name="selectedcasetype">
        {% for casetype in validcasetypes %}
            {% if casetype.attname == selectedcasetypestr %}
                <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
            {% else %}
                <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
            {% endif %}
        {% endfor %}
        </select>
        </br>
        <button style="" class="w3-bar-item w3-theme-l2 w3-button-2 w3-hover-theme w3-center" type="submit">Run Query &nbsp<i class="fa fa-database"></i></button>
    </form>
    {% endblock rightsidebarform %}

    <!--Start main content-->
    {% block maindiv%}
    {% if errors != '' %}
        <p>{{errors}}</p>
    {% else %}
        {% block pagetitle %}
            <h2 style="" id="dailyheader" class="w3-center">T&T Covid-19 events yesterday ({{yesterdaydata.date}})</h2>
        {% endblock pagetitle %}
        </br>
        <div class="w3-cell-row">
            <div class="w3-container w3-blue w3-cell w3-mobile">
                <p class="">{{ yesterdaydata.daily_tests }} testing samples submitted &ensp;
                <i class="fas fa-microscope fa-2x"></i></p>
            </div>
            <div class="w3-container w3-yellow w3-cell w3-mobile">
                <p>{{ yesterdaydata.daily_positive }} persons tested positive &ensp; 
                <i class="fas fa-procedures fa-2x"></i></p>
            </div>
            <div class="w3-container w3-green w3-cell w3-mobile">
                <p>{{ yesterdaydata.daily_recovered }} person(s) discharged &ensp; 
                <i class="fas fa-virus-slash fa-2x"></i></p>
            </div>
            <div class="w3-container w3-red w3-cell w3-mobile">
                <p>{{ yesterdaydata.daily_deaths }} person(s) died &ensp; 
                <i class=" far fa-heart fa-2x"></i></p>
            </div>
        </div>
        <!-- Chart -->
        <div id="chartdiv" style="" class="chartdiv">
        </div>
    {% endif %}
    {% endblock maindiv %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    
    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    //load in our graph date labels from the python context
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    //load the actual dataset values 
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var data = [
        {
            x: graphlabels,
            y: graphdataset,
            type: 'bar'
        }
    ];
    var layout = {
        xaxis: {
            automargin: true,
            title: {text:'Date',
            standoff: 20
            },
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 'auto',
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        },
        yaxis: {
            title: '{{ selectedcasetypeverbose|escapejs }}',
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 45,
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        }
        };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}

    {% block highlightpage%}
    $(dailylink).toggleClass("w3-theme-l3");
    {% endblock highlightpage %}

    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}