{% extends "covid19/base.html" %}
{% load static %}

    {% block title %}
    trinistats | COVID-19 | Cumulative/Total data for Trinidad and Tobago
    {% endblock title %}

    {% block rightsidebarform %}
    <form action="{% url 'covid19:totals' %}" method="get">
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="startdate" class="">Start Date</label>
            </div>
            <div class="column">
                <input class="" type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate">
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="enddate" class="">End Date</label>
            </div>
            <div class="column">
                <input class="" type="date" value="{{ enteredenddate }}" id="enddate" name="enddate">
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="selectedcasetypeleft" class="">Left Axis</label>
            </div>
            <div class="column">
                <select class="" id="selectedcasetypeleft" name="selectedcasetypeleft"></li>
                {% for casetype in validcasetypes %}
                    {% if casetype.attname == selectedcasetypeleftstr %}
                        <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                    {% else %}
                        <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="selectedcasetyperight" class="ml-1">Right Axis</label>
            </div>
            <div class="column">
                <select class="" id="selectedcasetyperight" name="selectedcasetyperight">
                {% for casetype in validcasetypes %}
                    {% if casetype.attname == selectedcasetyperightstr %}
                        <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                    {% else %}
                        <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
            </div>
        </div>
    </div>
    <div class="panel-block">
        <button class="button is-link is-outlined is-fullwidth is-success" type="submit">Run Query &nbsp<i class="fa fa-database"></i></button>
    </div>
    </form>
    {% endblock rightsidebarform %}

    {% block maindiv %}
    {% if errors != '' %}
        <p>{{errors}}</p>
    {% else %}
    {% block pagetitle %}
        <h1 class="has-text-centered is-size-2" style="" id="charttitle">
        T&T COVID-19 Cumulative Data</h1>
    {% endblock pagetitle %}
    </br>
    <div class="columns">
        <div class="column has-text-centered has-background-warning has-text-black has-rounded-border has-margin">
            <p class="">{{ latestrecord.total_tests }} test samples submitted &ensp;
            <i class="fas fa-microscope fa-2x"></i></p>
        </div>
        <div class="column has-text-centered has-background-danger has-text-white has-rounded-border has-margin">
            <p>{{ latestrecord.total_cases }} persons tested positive &ensp; 
            <i class="fas fa-procedures fa-2x"></i></p>
        </div>
        <div class="column has-text-centered has-background-success has-text-white has-rounded-border has-margin">
            <p>{{ latestrecord.total_recovered }} person(s) discharged &ensp; 
            <i class="fas fa-virus-slash fa-2x"></i></p>
        </div>
        <div class="column has-text-centered has-text-white has-background-info has-rounded-border has-margin">
            <p>{{ latestrecord.total_deaths }} person(s) died &ensp; 
            <i class=" far fa-heart fa-2x"></i></p>
        </div>
    </div>
    </br>
    </br>
        <!-- Chart -->
        <div style="" id="chartdiv" class="chartdiv">
        </div>
    {% endif %}
    {% endblock maindiv %}

    <!-- END MAIN -->
    
    <!--Javascript-->
    
    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset1|json_script:"graphdataset1" }}
    {{ graphdataset2|json_script:"graphdataset2" }}
    <script>
    //load in our graph date labels from the python context
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    //load the actual dataset values 
    var graphdataset1 = JSON.parse(document.getElementById('graphdataset1').textContent);
    var graphdataset2 = JSON.parse(document.getElementById('graphdataset2').textContent);
    var trace1 = {
        x: graphlabels,
        y: graphdataset1,
        name: '{{ selectedcasetypeleftverbose|escapejs }}',
        type: 'scatter'
    };
    var trace2 = {
    x: graphlabels,
    y: graphdataset2,
    name: '{{ selectedcasetyperightverbose|escapejs }}',
    yaxis: 'y2',
    type: 'scatter'
    };
    var data = [trace1,trace2];
    var layout = {
    xaxis: {
        title: 'Date',
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: 'auto',
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    },
    yaxis: {
        title: '{{ selectedcasetypeleftverbose|escapejs }}',
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: -45,
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all'
    },
    yaxis2: {
        title: '{{ selectedcasetyperightverbose|escapejs }}',
        titlefont: {
        size: 20
        },
        showticklabels: true,
        tickangle: -45,
        tickfont: {
        size: 16
        },
        exponentformat: 'SI',
        showexponent: 'all',
        overlaying:'y',
        side:'right'
    },
    legend: {
    x: 0,
    y: 1,
    traceorder: 'normal',
    font: {
      family: 'sans-serif',
      size: 12,
      color: '#000'
    }
    }
    };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}
    
    {% block highlightpage%}
    $(cumulativelink).toggleClass("w3-theme-l3");
    {% endblock highlightpage %}

    {% block morejs %}
    <script>
    </script>
    {% endblock morejs %}