{% extends "covid19/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block navbarside %}
        <a class="w3-bar-item w3-button w3-theme-l2 w3-hover-white" href="{% url "about" %}" onclick="w3_close()">Page Info</a>
    {% endblock %}
    {% block maincontentdiv %}
    <p>
    This small website is being developed by Rishi Latchmepersad 
    as a way to build Python, Django and Javascript experience. 
    I am also hopeful that many people will appreciate and benefit from this data.</p>

    <p>For any questions/comments/collab ideas, hit me an email at <a class="a" href="mailto:latchmepersad@gmail.com">latchmepersad@gmail.com</a>
    or add me on <a class="a" href="https://www.linkedin.com/in/rishi-latchmepersad/">LinkedIn.</a>
    </p>
    {% endblock %}

    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block chartjs %}
    {% endblock %}
    {% block morejs %}
    <script>
    //close the sidebar
    w3_close();
    //set the selected button colors
    var navtopbardiv = $("#navbartopdiv");
    var a_links = navtopbardiv.find("a");
    for (i = 0; i < a_links.length; i++) {
        if (a_links[i].id != "aboutbutton")
            a_links[i].classList.remove("w3-theme-l2");
    } 
    </script>
    {% endblock%}