{% extends "covid19/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block navbarside %}
        <a class="w3-bar-item w3-button w3-theme-l2 w3-hover-white" href="{% url "totals" %}" onclick="w3_close()">Cumulative</a>
        <a class="w3-bar-item w3-button w3-theme-l2 w3-hover-white" href="{% url "daily" %}" onclick="w3_close()">Daily</a>
    {% endblock %}

    {% block navbarinsidetop %}
        <label for="startdate" class="flexbox-item w3-label1">Start Date:</label>
        <input type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate" class="flexbox-item w3-date-selector">
        <label for="enddate" class="flexbox-item w3-label1">End Date:</label>
        <input type="date" value="{{ enteredenddate }}" id="enddate" name="enddate" class="flexbox-item w3-date-selector "/>
        <label for="selectedcasetypeleft" class="flexbox-item w3-label1">Left Axis:</label>
        <select id="selectedcasetypeleft" name="selectedcasetypeleft" class="flexbox-item w3-select1">
            {% for casetype in validcasetypes %}
                    {% if casetype.attname == selectedcasetypeleftstr %}
                        <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                    {% else %}
                        <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                    {% endif %}
                {% endfor %}
        </select>
        <label for="selectedcasetyperight" class="flexbox-item w3-label1">Right Axis:</label>
        <select id="selectedcasetyperight" name="selectedcasetyperight" class="flexbox-item w3-select1">
            {% for casetype in validcasetypes %}
                    {% if casetype.attname == selectedcasetyperightstr %}
                        <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                    {% else %}
                        <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                    {% endif %}
                {% endfor %}
        </select>
        <input type="submit" onclick="location.href='{% url 'totals' %}" value="Query" class="flexbox-item w3-button3"/>
    {% endblock navbarinsidetop %}

    {% block charttitle %}
        <h2 style="text-align:center" id="charttitle">Trinidad and Tobago COVID-19 Cumulative Data</h2>
    {% endblock %}

    <!-- END MAIN -->
    
    <!--Javascript-->
    
    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    var ctx = document.getElementById('covid19chart').getContext("2d");
    //load in our graph date labels from the python context
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    //convert the datetime into moments for Javascript
    var i;
    for (i=0;i<graphlabels.length;i++){
        graphlabels[i] = new Date(graphlabels[i])
    }
    //load the actual dataset values 
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: graphlabels,
            datasets: graphdataset
        },
        options: {
            maintainAspectRatio: false,
            scales: {
                xAxes: [{
                type: 'time',
                distribution: 'linear'
					}],
                yAxes: [{
                    id:'A',
                    scaleLabel: {
                        display: true,
                        labelString: '{{ selectedcasetypeleftverbose|escapejs }}'},
                    type:'linear',
                    position:'left',
                },
                {
                    id:'B',
                    scaleLabel: {
                        display: true,
                        labelString: '{{ selectedcasetyperightverbose|escapejs }}'},
                    type:'linear',
                    position:'right',
                },
                ]            
        }
        }
    });
    </script>
    {% endblock chartjs %}

    {% block morejs %}
    <script>
     //set the selected button colors
    var navtopbardiv = $("#navbartopdiv");
    var a_links = navtopbardiv.find("a");
    for (i = 0; i < a_links.length; i++) {
        if (a_links[i].id != "maincontentbutton")
            a_links[i].classList.remove("w3-theme-l2");
    }
    var sidebar = $("#mySidebar");
    var a_links = sidebar.find("a");
    for (i = 0; i < a_links.length; i++) {
        if (a_links[i].id != "cumulativebutton")
            a_links[i].classList.remove("w3-theme-l2");
    } 
    </script>
    {% endblock%}