{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!--Metadata-->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Data about T&T's Covid-19 cases.">
    <meta name="author" content="Rishi Latchmepersad">
    <!-- Twitter Card data -->
    <meta name="twitter:card" content="Data about T&T's Covid-19 cases.">
    <meta name="twitter:title" content="Trinistats:COVID-19">
    <meta name="twitter:description" content="Tabular/graphical data about T&T's COVID-19 cases.">
    <meta name="twitter:creator" content="Rishi Latchmepersad">
    <!-- Twitter Summary card images must be at least 120x120px -->
    <meta name="twitter:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE">
    <!-- Open Graph data -->
    <meta property="og:title" content="Trinistats:COVID-19" />
    <meta property="og:type" content="graph" />
    <meta property="og:url" content="http://www.trinistats.com/covid19" />
    <meta property="og:image" content="https://drive.google.com/open?id=1lgFtaKmY5n3DF3YoiF3Ye9bafxHhfSDE" />
    <meta property="og:description" content="Tabular/graphical data about T&T's COVID-19 cases." />
    <meta property="og:site_name" content="Trinistats:COVID-19" />
    <!--End Metadata-->
    <title>{% block title %}trinistats | COVID-19 | Data on how the disease is affecting us{% endblock title %}</title>
     <!-- 3rd party CSS files-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/dbb1ac5feb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-deep-orange.css">
    <!-- Local CSS files-->
    <link rel="shortcut icon" href="{%  static 'stocks/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'covid19/styles.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-162313143-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-162313143-1');
    </script>
    <!--Error Messages -->
    {% if errors != "" %}
    <script type="text/javascript">
            alert('{{ errors }}');
    </script>
    {% endif %}
</head>
<body id="mainbody">
    <!-- Top Navbar -->
    <div class="w3-bar w3-border w3-theme-l4 w3-large ">
        <a id="homelink" class="w3-bar-item w3-mobile w3-hover-theme w3-border-right w3-border-bottom" href="{% url "central:landingpage" %}">
            <i class="fas fa-1x fa-home"></i>
        </a>
        <a id="cumulativelink" class="w3-bar-item w3-mobile w3-hover-theme w3-border-right w3-border-bottom" href="{% url "covid19:totals" %}">Cumulative</a>
        <a id="dailylink" class="w3-bar-item w3-mobile w3-hover-theme w3-border-right w3-border-bottom" href="{% url "covid19:daily" %}">Daily</a>
        <a id="aboutlink" class="w3-bar-item w3-mobile w3-hover-theme w3-border-right w3-border-bottom" href="{% url "covid19:about" %}">About</a>
        <button id="configurebutton" class="w3-bar-item w3-mobile w3-hover-theme w3-theme-l4 w3-right w3-border-left w3-button-2 w3-border-bottom" id="config-menu-button" onclick="w3_toggle_sidebar()">
        <i class="fas fa-cogs"></i>
        </button>
    </div>
    <!--Right side menu-->
    <div class="w3-sidebar w3-theme-l4 w3-bar-block" id="configmenu" style="width:18em;right:0;display:none;">
    <p class="w3-bar-item">Configuration Options</p>
        {% block rightsidebarform %}
        {% endblock rightsidebarform %}
    </div>
    
    <!-- Main content-->
    {% block mainblock %}
    <section style="" class="section" id="mainsection">
        <div class="container has-text-centered" style="" id="maindiv">
        {% block maindiv %}
        {% block pagetitle %}
        <h2 class="is-size-3" style="" id="charttitle">
        T&T Covid-19 Data
        </h2>
        {% endblock pagetitle %}
        {% endblock maindiv %}
        </div>
    </section>
    <br>
    {% endblock mainblock %}
    <!-- END MAIN -->

    <!--Javascript-->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {% block chartjs %}
    <script>
    </script>
    {% endblock chartjs %}
    <script>
    //highlight the current page
    {% block highlightpage%}
    {% endblock highlightpage %}
    function w3_toggle_sidebar() {
        $(configmenu).toggle();
        $(configurebutton).toggleClass("w3-theme-l3");
    }
    </script>
    {% block morejs%}
    {% endblock morejs%}
</body>
</html>