{% extends "covid19/base.html" %}
{% load render_table from django_tables2 %}
{% load static %}

    {% block navbarside %}
        <a class="w3-bar-item w3-button w3-theme-l2 w3-hover-white" href="{% url "about" %}" onclick="w3_close()">Page Info</a>
    {% endblock %}
    {% block maincontentdiv %}
    <p>
    This small website is being developed by Rishi Latchmepersad
    as a way to build Python, Django and Javascript experience. 
    I also hope that people will benefit from this data in some way.</p>

    <p>Check out my repos at my <a class="a" href="https://github.com/rishil321">Github</a> profile
    or add me on <a class="a" href="https://www.linkedin.com/in/rishi-latchmepersad/">LinkedIn</a>.
    </p>

    <p>Special thanks to the following collaborators:</p>
    <ul>
        <li><a class="a" href="https://www.linkedin.com/in/rantsh" target="_blank">Roderick Smith</a></li>
    </ul>
    {% endblock %}

    <!-- END MAIN -->
    
    <!--Javascript-->
    {% block chartjs %}
    {% endblock %}
    {% block morejs %}
    <script>
    //close the sidebar
    w3_close();
    //set the selected button colors
    var navtopbardiv = $("#navbartopdiv");
    var a_links = navtopbardiv.find("a");
    for (i = 0; i < a_links.length; i++) {
        if (a_links[i].id != "aboutbutton")
            a_links[i].classList.remove("w3-theme-l2");
    } 
    </script>
    {% endblock%}