{% extends "covid19/base.html" %}
{% load static %}

    {% block title %}
    trinistats | COVID-19 | Daily data for Trinidad and Tobago
    {% endblock title %}

    {% block rightsidebarform %}
    <form action="{% url 'covid19:daily' %}" method="get">
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="startdate" class="">Start Date</label>
            </div>
            <div class="column">
                <input class="" type="date" value="{{ enteredstartdate }}" id="startdate" name="startdate">
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="enddate" class="w3-bar-item">End Date</label>
            </div>
            <div class="column">
                <input class="" type="date" value="{{ enteredenddate }}" id="enddate" name="enddate">
            </div>
        </div>
    </div>
    <div class="panel-block">
        <div class="columns">
            <div class="column">
                <label for="selectedcasetype" class="">Data</label>
            </div>
            <div class="column">
                <select class="" id="selectedcasetype" name="selectedcasetype">
                {% for casetype in validcasetypes %}
                    {% if casetype.attname == selectedcasetypestr %}
                        <option value="{{ casetype.attname }}" selected>{{casetype.verbose_name}}</option>
                    {% else %}
                        <option value="{{ casetype.attname }}">{{casetype.verbose_name}}</option>
                    {% endif %}
                {% endfor %}
                </select>
             </div>
         </div>
    </div>
    <div class="panel-block">
        <button style="" class="button is-link is-outlined is-fullwidth is-success" type="submit">Run Query &nbsp<i class="fa fa-database"></i></button>
    </div>
    </form>
    {% endblock rightsidebarform %}

    <!--Start main content-->
    {% block maindiv%}
    {% if errors != '' %}
        <p>{{errors}}</p>
    {% else %}
        {% block pagetitle %}
            <h1 class="has-text-centered is-size-2" style="" id="charttitle">
            T&T Covid-19 events yesterday ({{yesterdaydata.date}})</h1>
        {% endblock pagetitle %}
        </br>
        <div class="columns">
            <div class="column has-text-centered has-background-warning has-text-black has-rounded-border has-margin">
                <p class="">{{ yesterdaydata.daily_tests }} testing samples submitted &ensp;
                <i class="fas fa-microscope fa-2x"></i></p>
            </div>
            <div class="column has-text-centered has-background-danger has-text-white has-rounded-border has-margin">
                <p>{{ yesterdaydata.daily_positive }} persons tested positive &ensp; 
                <i class="fas fa-procedures fa-2x"></i></p>
            </div>
            <div class="column has-text-centered has-background-success has-text-white has-rounded-border has-margin">
                <p>{{ yesterdaydata.daily_recovered }} person(s) discharged &ensp; 
                <i class="fas fa-virus-slash fa-2x"></i></p>
            </div>
            <div class="column has-text-centered has-text-white has-background-info has-rounded-border has-margin">
                <p>{{ yesterdaydata.daily_deaths }} person(s) died &ensp; 
                <i class=" far fa-heart fa-2x"></i></p>
            </div>
        </div>
        </br>
        <!-- Chart -->
        <div id="chartdiv" style="" class="chartdiv">
        </div>
    {% endif %}
    {% endblock maindiv %}
    <!-- END MAIN -->
    
    <!--Javascript-->
    
    {% block chartjs %}
    {{ graphlabels|json_script:"graphlabels" }}
    {{ graphdataset|json_script:"graphdataset" }}
    <script>
    //load in our graph date labels from the python context
    var graphlabels = JSON.parse(document.getElementById('graphlabels').textContent);
    //load the actual dataset values 
    var graphdataset = JSON.parse(document.getElementById('graphdataset').textContent);
    var data = [
        {
            x: graphlabels,
            y: graphdataset,
            type: 'bar'
        }
    ];
    var layout = {
        xaxis: {
            automargin: true,
            title: {text:'Date',
            standoff: 20
            },
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 'auto',
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        },
        yaxis: {
            title: '{{ selectedcasetypeverbose|escapejs }}',
            titlefont: {
            size: 20
            },
            showticklabels: true,
            tickangle: 45,
            tickfont: {
            size: 16
            },
            exponentformat: 'SI',
            showexponent: 'all'
        }
        };
    Plotly.newPlot('chartdiv', data, layout);
    </script>
    {% endblock chartjs %}

    {% block highlightpage%}
    $(dailylink).toggleClass("w3-theme-l3");
    {% endblock highlightpage %}

    {% block morejs%}
    <script>
    </script>
    {% endblock morejs%}